:root {
  --toggle-bg: rgb(0, 217, 255);
  --toggle-fg-hover: #0084ff;
  --background-color: #ffffff;
  --foreground-color: #000000;
  --primary-text-color: #000000;
  --secondary-text-color: #ffffff;
}

[data-theme="dark"] {
  --background-color: #1a1a1a;
  --foreground-color: rgb(145, 145, 181);
  --primary-text-color: #ffffff;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}